.section-header{
 	background: url('../img/background-header.png') repeat-x;
  background-position-y: 150px;
  padding-top: 40px;
}
.title-header-nomargin {
  margin: 0;
}
.left-content-wrapper {
  padding-top: 250px;
}
