// colour palette
$black: #000;
$dark-grey: #36434c;
$grey: #757575;
$light-grey: #ebebeb;
$off-white: #f0f0f0;
$white: #ffffff;
$blue1: #3498db;
$blue2: #2980b9;
$yellow: #ffbf00;
$orange: #f05938;
$green: #8cc440;

// background colours
$primary-background: $white;
$secondary-background: $off-white;
$third-background: $yellow;
$inverse-background: $dark-grey;

// text colours
$primary-text: $grey;
$light-text: $light-grey;
$inverse-text: $white;
$heading-text: $black;
$download-text: $orange;
$toggle-bar: $green;

// link colours
$primary-link-color: $blue1;
$primary-link-color-hover: $blue2;

// primary border properties
$border-color: $light-grey;
$border-size: 1px;
$border-type: solid;
$border-focus: $grey;

@font-face {
  font-family: 'GothamRounded';
  src: url('../fonts/GothamRounded-Book.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('../fonts/GothamRounded-Medium.otf');
  font-weight: 500;
}

// typography
$body-copy: 'GothamRounded',sans-serif;
$heading-copy: 'GothamRounded',sans-serif;
$base-font-size: 16px;
$font-size: 1em;
$base-line-height: 1.5;

// layout
$margin: 1em;
$padding: 1em;

// MIXINS

// round corners or Border radius
@mixin border-radius($radius: 5px) {
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

// animation transitions
@mixin transition($transition: all .3s ease-in-out) {
	-moz-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}
